/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:snow;
    font-family: 'Ubuntu', sans-serif;
}

div {
    margin: 4%;
    padding: 4%;
}

section, article {
    max-width: 100%;
    margin: auto;
    padding: 4%;
    padding-bottom: 2%;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: brown;
    font-size: 3.6rem;
    text-transform: uppercase;
    padding-bottom: 6%;
}

h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: brown;
    padding-bottom: 6%;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    text-align: left;
}

strong {
    color: brown;
    font-weight: bold;
}

/* Header */
header {
    max-width: 100%;
    margin: auto;
    padding: 4%;
    display: flex;
    justify-content: center;
    border-bottom: solid 0.1rem brown;
}

/* Description Section */
.description {
    background-color: #f8f9fa;
}

/* Section with Numbers */
.numbers-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
}

.rounded-circle {
    margin: auto;
    background-color:#f8f9fa;
    width: 45%;
}

.numbers-info h2 {
    color: brown;
    font-size: 4rem;
}

.numbers-info p {
    text-align: center;
}


/* Section with Health Benefits */
.health-benefits {
    background-color: #e9ecef;
}

#list-benefits li {
    list-style-type: square;
    font-size: 1.4rem;
    margin: 4%;
}

#list-benefits {
    background-color: white;
    padding: 2%;
}

/* Section with Informations How Doing It and Animated Petals */
.practice {
    background-color: blanchedalmond;
    max-width: 100%;
}

.woman-breathe {
    width: 50%;
}

.breathe {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
    justify-content: center;
    width: 50%;
}

.breathe div {
    justify-content: center;
    text-align: center;
}

#animation-objects {
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

.btn-danger {
    width: 30%;
    margin: 2%;
}


/* Petals animation with keyframes */

#petals {
    animation-duration: 5s;
    animation-direction: alternate;
    animation-name: grow;
    animation-iteration-count: 30;
    animation-play-state: paused;
}

@keyframes grow {
    from {
        width: 150px;
    }
    to {
        width: 300px;
    }
}

#animation {
    overflow: hidden;
}

/* Section with More Informations */
.more-information iframe {
    width: 100%;
    height: 200px;
    align-content: center;
    padding: 2%;
    border: 0px;
}

.more-information a {
    color: black;
    text-decoration: underline;
}

.more-information a:hover {
    color: brown;
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    position: absolute;
    overflow: hidden;
}
 footer div {
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
 }

footer p {
    font-size: 1.2rem;
}

#social-networks {
    display: flex;
    justify-content: center;
    letter-spacing: 1rem;
    padding: 0.5% !important;
}

#social-networks a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

#social-networks a:hover {
    color:rgba(250, 55, 55, 0.6);
}

#educational {
    font-size: 1.2rem;
    padding: 2%;
}

#educational a {
    text-decoration: underline;
    color: white;
}

#educational a:hover {
    text-decoration: none;
    color:rgba(250, 55, 55, 0.6);
}

.copyright {
    margin: 0% !important;
    display: flex;
    justify-content: center;
}

/* Media Queries */

/* Media Queries for Small Phones */
@media only screen and (min-width: 576px) {
    section, article {
        padding: 2%;
    }

    div {
        margin: 2%;
        padding: 2%;
    }

    .more-information iframe {
        height: 350px;
    }

    .rounded-circle {
        width: 33%;
    }
 } 

/* Media Queries for Tablets*/
@media only screen and (min-width: 768px) {
    section, article {
        padding: 1%;
    }

    div {
        margin: 1%;
    }

    .more-information iframe {
        height: 500px;
    }

    .rounded-circle {
        width: 80%;
    }

    .btn-danger {
        width: 20%;
        margin: 2%;
    }

    .numbers-container {
        display: flex !important;
    }

    .breathe {
        display: inline-flex !important;
    }

 } 

/* Media Queries for Desktops */
@media only screen and (min-width: 992px) { 
    section, article {
        padding: 0.5%;
    }

    div {
        padding: 1%;
    }

    h2 {
        padding-bottom: 1%;
    }

    p {
        text-align: justify;
    }

    header {
        padding: 1%;
    }

    header img {
        width: 20%;
    }

    .numbers-round {
        margin: auto;
    }

    .rounded-circle {
        width: 50%;
    }

    .more-information iframe {
        padding: 0%;
        height: 750px;
    }

    #educational {
        padding: 0.5%;
    }

    .btn-danger {
        width: 10%;
        margin: 2%;
    }

    #list-benefits li {
        margin: 2%;
    }
}

/* Media Queries for Extra Large Screens */
@media only screen and (min-width: 1200px) { 
    .rounded-circle {
        width: 40%;
    }
}