/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: brown;
    font-size: 3.6rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: brown;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
}

/* Header */
header {
    max-width: 100%;
    margin: auto;
    padding: 4%;
}

header img {
    align-content: center;
}

/* Introduction Section */
.introduction {
    padding: 4%;
    margin: 4%;
    text-align: justify;
}

/* Section with Numbers Animation */
.animation {
    max-width: 100%;
}

.animation div {
    display: flex;
    flex-direction: column;
    margin: 4%;
    padding: 4%;
    text-align: center;
}

.numbers {
    margin: auto;
    padding: 8%;
    width: 60%;
    height: 60%;
}

.numbers h2 {
    color: brown;
    font-size: 4rem;
}

.numbers p {
    color: brown;
}

#first-hide {
    visibility: hidden;
}

/* Section with Health Benefits */
.health-benefits {
    margin: auto;
    padding: 4%;
}

.health-benefits div {
    margin: 4%;
    padding: 4%;
    text-align: justify;
}

.health-benefits li {
    list-style-type: square;
    font-size: 1.4rem;
}

/* Section with Informations How Doing It */
.doing-it {
    margin: auto;
    padding: 4%;
}


/* Section with More Informations */
.more-information {
    margin: auto;
    padding: 4%;
}

/* Footer */
footer {
    max-width: 100%;
    margin: auto;
    padding: 10%;
    background-color: black;
    color: white;
}

footer span {
    margin: 2%;
    display: inline-block;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: antiquewhite;
}

#educational {
    font-size: 1.1rem;
}
