/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: brown;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    text-align: center;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

/* Header */
header {
    width: 100%;
    margin: 4%;
    padding: 4%;
}

header img {
    align-content: center;
}

/* Introduction Section */
.introduction {
    padding: 4%;
    margin: 4%;
    text-align: justify;
}

/* Section with Numbers Animation */
.numbers {
    background: aqua;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}


/* Footer */
footer {
    margin: auto;
    padding: 10%;
    background-color: black;
    color: white;
}

footer span {
    margin: 2%;
    display: inline-block;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: antiquewhite;
}

#educational {
    font-size: 1.1rem;
}
